# DO NOT ADD SECRETS TO THIS FILE. This is a good place for defaults.
# If you want to add secrets use `.env.production.local` instead, which is automatically detected by `docker compose`.

ENV_VARIABLE=production_server_only_variable
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=s3c0r3p4$$
MONGO_INITDB_DATABASE=my-db
MONGO_USERNAME=user
MONGO_PASSWORD=0s3rp4$$